body
{
	margin: 0;
}

 

/* Alignements des éléments de nav et le logo */

nav
{
	display: flex;
	justify-content: space-between;
	font-size: 1.2em;
}

nav a
{
	text-decoration:none;
}

.link
{
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	width: 35%;
}

.link-element
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 33%;	
}

.overline-element
{
	height: 3px;
	background-color: #f2f2f2;
	margin:0 0 40px 0;
	width: 100%;
	color: #ffffff;
}

.element
{
	color: #000000;
}


.element:visited
{
	color: #0065fc;
}

 .element:hover
{
	color: #0065fc;
    font-weight: 600;
}

.element:visited
{
	color: #0065fc;
}


.link-element:visited >.overline-element
{
	background-color: #0035fc;
}

.link-element:hover >.overline-element
{
	background-color: #0065fc;
}

.link-element:active >.overline-element
{
	background-color: #ff0000;
}



#sign-up 
{
	margin: 40px 10px 0 10px;
    width: 33%;
    text-align: center;
}

#sign-up a
{
    color: #0065fc;
    font-weight: 900;
}


/* Nav Mobile */

.mobile
    {
    display: contents;
    }
    .mobile
    {
        display: contents;
        font-size: 0.8em;
        font-weight: bold;
    }

        /*  formatting logo and "register" link*/

    #first-line
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;      
    }
    /* Removal of underline link s*/

    .mobile a
    {
        text-decoration: none;
        font-size: 1.2em;
    }

    /* formatting of the elements "accommodation and "activities"*/

    #second-line 
    {
        display: flex;
        justify-content: center;
    }

    #sign-up-mob
    {
        color: #0065fc;
    }

    #accomodations-link
    {
        padding: 0 70px 0 70px;
        color: #0065fc;
    }

    #activities-link
    {
        padding: 0 70px 0 70px;
        color: #585656;
    }
  
     .overline-accomodations-mob, .overline-activities-mob
     {
         height: 2px;
         background-color: #f2f2f2;
         margin-top: 10px;
     }

    .overline-accomodations-mob 
    {
        background-color: #0065fc; 
    }

/* Mise en forme de la présentation de la page et de son auteur */

.presentations
{
	background-color: #d3d3d3;
	font-size: 1.2em;
	text-align: center;
	color: #0035fc;
}
.article
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #e3e6e0;
	padding: 30px 20px 20px 30px;
	font-size: 1.5em;
	color: #0035fc;
}

							/* Image avec texte en dessous */


/* Je donne la dimension, couleur, marge ext. et int., et une ombre de mon élément */

.voiture 
{
    width: 30%;
    background-color: #d8c888;
    border: 2px solid #000000;
    border-radius: 20px ; 
    padding: 5px; 
    margin: 20px; 
	box-shadow:10px 10px 10px #6d5d41;   
}


/* Dimensionnement des images, arrondis des bordures */

.img-voiture
{
   
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

/* Je donne une taille et marge à mon pargaraphe */

.voiture p
{
	font-size: 1.1em;
	margin: 10px 0 10px 20px;
}

/* Je fais pareil avec mon titre */

.voiture h3
{
	font-size: 1.2em;
	margin: 10px 0 10px 20px;
}

/* et la même à mes étoiles */
.star
{
	font-size: 1.1em;
	margin: 10px 0 10px 20px;
}